---
---
<svg
    class="me-3 h-10 w-6 sm:absolute sm:start-[-4.5rem] sm:me-0 sm:h-20 sm:w-12"
    aria-hidden="true"
    focusable="false"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="150 50 500 700"
>
    <title>Logo</title>
    <path style="transform-box:fill-box;transform-origin:50% 50%;fill:#fff;paint-order:fill;fill-rule:nonzero" d="m396.559 105.998 238.28 317.419-66.237 84.301 4.301 16.344-55.914 46.452-147.48-5.654-16.633 18.343-86.209-19.571-92.904-89.462v-67.957z"/>
    <path style="transform-box:fill-box;transform-origin:50% 50%;fill:#40cab6" d="m403.441 157.611 67.284 100.17-56.85.388-39.681-59.268z"/>
    <path style="transform-box:fill-box;transform-origin:50% 50%;fill:#222d3f" d="m390.207 254.56-27.211-41.449-46.828 68.027-28.476.317-100.617 148.71 153.457 249.328 42.714 26.262-57.585-108.528 23.827-39.951-69.39-123.314-23.731-2.848 106.629-149.343h7.594z"/>
    <path style="transform-box:fill-box;transform-origin:50% 50%;fill:#10a69f" d="m413.621 258.041-16.453.316-6.939-3.851-19.64 27.28 16.454-.331-24.363 62.648 33.539 58.219 108.844-.95z"/>
    <path style="transform-box:fill-box;transform-origin:50% 50%;fill:#222d3f" d="m413.621 258.041 78.469-.317 111.375 165.164-21.832 31.008 12.656 3.797-155.988 226.23-27.844 20.566 22.149-33.855.632-13.606L542.082 508.95l-117.386-1.582-43.841 20.304 127.744-120.663z"/>
    <path style="transform-box:fill-box;transform-origin:50% 50%;fill:#40cab6" d="m280.415 434.595 90.197-152.816-7.615-.008-106.629 149.343z"/>
    <path style="transform-box:fill-box;transform-origin:50% 50%;fill:#ff9329" d="m287.375 447.251 54.422-86.695-8.825-15.05 5.837-9.9 48.867 77.157-40.189 140.975z"/>
    <path style="transform-box:fill-box;transform-origin:50% 50%;fill:#fcc26c" d="m287.375 447.251-7.277-12.656 52.886-89.12 8.909 15.169zm62.123 110.02-2.016-3.509 39.878-141.315 113.589 1.898z"/>
    <path style="transform-box:fill-box;transform-origin:50% 50%;fill:#10a69f" d="m349.498 557.257 31.429-29.637 43.663-20.252 117.63 1.582-109.009 148.271 1.293-140.993-60.117 32.273-1.266 4.746z"/>
    <path style="transform-box:fill-box;transform-origin:50% 50%;fill:#40cab6" d="m433.334 641.896 1.253-125.777-60.333 32.437z"/>
</svg>
